Choose your keyboard layout = default
System hostname = openbsd.localdomain
Which network interface do you wish to configure? = vio0
IPv4 address for vio0 = dhcp
IPv6 address for vio0 = none
DNS domain name = localdomain
Password for root = vagrant
Change the default console to com0 = ${default_com0}
Which speed should com0 use = 115200
Public ssh key for root account = ${ssh_public_key}
Setup a user = vagrant
Password for user = vagrant
Public ssh key for user = ${ssh_public_key}
Start sshd(8) by default = yes
Allow root ssh login = prohibit-password
Do you expect to run the X Window System? = ${run_x}
What timezone are you in = UTC
Which disk is the root disk? = sd0
Location of sets = http
Server directory = ${server_directory}
Is the disk partition already mounted = no
Which disk contains the install media = cd0
Which cd0 partition has the install sets = a
Set name(s) = ${set_names}
Set name(s) = done
URL to autopartitioning template for disklabel = file:/disklabel.txt
Directory does not contain SHA256.sig. Continue without verification? = yes
Cannot determine prefetch area. Continue without verification? = yes
